body {
  padding: 0;
  margin: 0;
  background-color:rgb(235, 234, 238)
}

.close {
  float: right;
}

.title{
  font-size: 44pt;
  color:rgb(6, 83, 150);
}
.title1{
  font-size: 28pt;
  color:rgb(6, 83, 150);
  font-weight:600;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.task-item {
margin-bottom: 20px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
border-radius: 10px;
background-color: #fafaff;
margin: auto;
padding: 20px;
border: 1px solid #616164;
width: 70%;
height: 80%; 
animation-name: animatetop;
animation-duration: 0.4s
}

.task-completed {
  background-color: rgb(226, 250, 226);
}

.task-not-completed {
  background-color: rgb(253, 232, 232);
}

@media (max-width: 907px) {

.card {
  padding: 0pt !important;
  margin: 0pt !important;
}

.title{
  font-size: 28pt;
  word-wrap: break-word;
  word-break: keep-all;
}

.modal-content {
  width: 90%;
  }
}
    